
    <header>

        <h1> Calculadora de Alhajas </h1>

        <nav>  
            <a href="/">Pagina Inicial</a>   
            <a href="/calcular.ejs">Calcular precios</a> 
            <a href="/createMat.ejs">Crear Material</a>   
            <a href="/editarMat.ejs">Editar Material</a>   
            <a href="/deleteMat.ejs">Eliminar Material</a> 
        </nav>
    </header>